.banner {
    max-width: 1240px;
    height: 223px;
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.banner.home-banner {
    margin: 0 7%;
    margin-top: 63px;
}

.about-banner {
    margin: 0 7%;
    margin-top: 44px;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: 0.3;
    border-radius: 25px;
}

.banner p {
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 48px; 
}

@media (max-width: 680px) {
    .banner {
        border-radius: 10px;
        display: flex;
        background-size: cover;
    }
    .banner.home-banner {
        height: 111px;
        margin: 0 3.4%;
    }
    .banner::after {
        border-radius: 10px;
    }
    .banner p {
        font-size: 24px;
        height: 48px;
        text-align: left;
        padding: 33px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 445px) {
    .banner p {
        padding-right: 70px;
    }
}

