.banner {
    max-width: 1240px;
    height: 223px;
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.banner.home-banner {
    margin: 43px 7%;
}

.banner.about-banner {
    margin: -20px 7% 31px;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: 0.3;
    border-radius: 25px;
    
}

.banner p {
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 48px; 
}
