.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel button {
    width: 46px;
    height: 79px;
    position: absolute;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.carrouselArrowLeft {
    left: 23px;
    top: 156px;
}

.carrouselArrowRight {
    right: 23px;
    top: 156px;
}

.carrousel-image-counter {
    position: absolute;
    bottom: 24px;
    left: 51.2%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}


@media (max-width: 680px) {
    .carousel {
        height: 255px;
    }
    .carousel button {
        width: 11px;
        height: 19px;
    }
    .carrouselArrowLeft {
        left: 5px;
        top: 118px;
    }
    .carrouselArrowRight {
        right: 5px;
        top: 118px;
    }
    .carrousel-image-counter {
        display: none;
    }
    
}

