.collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1023px;
    height: 47px;
    margin: 0 auto;
    background: #FF6060;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 18px;
}

.description-collapse .collapse p,
.equipment-collapse .collapse p {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
}

.collapse p {
    width: 94px;
    height: 34px;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 34px;
    left: 18px;
    top: 5px;
}

.collapse-icon {
    width: 24px;
    height: 13px;
}

.collapse-container {
    margin: 31px 7% 31px 7%;
}

.collapse-rectangle {
    max-width: 1023px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    color: #FF6060;
    gap: 5px;
    background: #F7F7F7;
    border-radius: 5px;
    padding: 27px 18px;
    display: flex;
    flex-direction: column;
}

.collapse-rectangle-text {
    max-width: 978px;
    font-size: 24px;
    font-weight: 400;
    line-height: 142%;
    color: #FF6060;
    
}

.description-collapse .rectangle-text,
.equipment-collapse .rectangle-text {
    font-size: 18px;
}

