.collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--collapse-max-width);
    height: var(--collapse-height);
    background: var(--collapse-background);
    border-radius: var(--collapse-border-radius);
    cursor: pointer;
}

.collapse p {
    font-size: var(--title-font-size);
    color: var(--collapse-color);
}

.collapse-icon {
    width: var(--collapse-icon-width, 24px);
    height: var(--collapse-icon-height, 13px);
}

.collapse-container {
    margin: var(--collapse-container-margin);
}

.collapse-rectangle {
    max-width: var(--collapse-rectangle-max-width);
    color: var(--collapse-rectangle-color);
    background: var(--collapse-rectangle-background);
    border-radius: var(--collapse-border-radius);
    padding: var(--collapse-rectangle-padding);
}