.header {
    max-width: 1240px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 7% 63px;
}

.header img {
    width: 210.32px;
    height: 68px;
    
}

.navigation {
    width: 309px;
    height: 34px;
}

