.header {
    max-width: 1240px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 7% 63px;
}

.header img {
    width: 210.32px;
    height: 68px;
    
}

@media (max-width: 600px) {
    .header {
        
        height: 47px;
        margin: 20px 20px 16px;
    }
    .header img {
        width: 145px;
        height: 47px;
    }
}
