.navigation {
    width: 309px;
    height: 34px;
}


.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 309px;
}

.navigation li:first-child {
    width: 136px;
}

.navigation li:last-child {
    width: 116px;
}

.nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
}

.nav-active {
    text-decoration-line: underline;
    color: #FF6060;
}

