.navigation {
    width: 309px;
    height: 34px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navigation li:first-child {
    width: 166px;
}

.navigation li:last-child {
    width: 136px;
}

.nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
}

.nav-active {
    text-decoration-line: underline;
    color: #FF6060;
}

@media (max-width: 900px) {
    .header {
        height: 40px;
    }
    .header img {
        width: 145px;
        height: 47px;
    }
}

@media (max-width: 680px) {
    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }
    .navigation li:first-child {
        width: 59px;
        font-size: 12px;
        margin-right: 10px;
    }
}





